fastapi
uvicorn[standard]
python-dotenv
requests
faiss-cpu
llama-index
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
llama-index-llms-openai
sentence-transformers
torch
gunicorn
llama-index-postprocessor-cohere-rerank
